<html>
    <head>
        <title>Senha incorreta</title>
    </head>
    <script>
        window.confirm('Senha incorreta');
        window.location.replace('/room/<%= roomId %>');
    </script>
</html>